/* General */
.clear { clear: both; height: 0; line-height: 0; }
tbody tr:last-child { border: none; }
.actions { width: 115px; }
#filters > ul > li { width: 33%; display: inline-block; }

/* Form */
ul.width-half { width: 50% !important; display: block; float: left; }
ul.width-half > li { min-height: 44px; }
#price_sub, #price_ship, #price_total { min-width: 70px !important; width: 70px !important; }
#products input { width: 60px; min-width: 60px; }

/* Create */
.items { line-height: 32px; margin: 0 0 -10px 0; height: 32px; padding: 20px 0 0 0; }
.items > * { float: left; }
.items input { margin: -3px 10px 0;}
.items button { margin: -1px 0 0; }
img.image { width: 64px; height: 64px; display: block; background: url('img/none.jpg') no-repeat; background-size: 64px 64px; overflow: hidden; text-indent: -1000px; }

/* Table */
a.show-filter { width: 21px; height: 22px; background: url(img/filter.png) no-repeat; float: right; cursor: pointer; margin: 7px 0 0 0; }
table.tablesorter thead tr .tablesorter-header{background-image:url(img/bg.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table.tablesorter thead tr .tablesorter-headerSortUp{background-image:url(img/asc.gif);}
table.tablesorter thead tr .tablesorter-headerSortDown{background-image:url(img/desc.gif);}
table.tablesorter thead tr .tablesorter-headerSortDown, table.tablesorter thead tr .tablesorter-headerSortUp{background-color:#f3f3f3;color:#000;}
table.tablesorter input[type=search] { width: 100% !important; min-width: 100% !important; }
table.tablesorter tbody tr.status-2 { background: #F0FBEA; }